.Header {
  background-color: rgb(249, 251, 251);
}

.navbar-brand {
  color: black !important;
  font-weight: bold !important;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfefe;
}


.Profil {
  text-align: center;
  margin-top: 20px;
}

.Profil img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 200px; 
  height: auto; 
  clip-path: circle(50%); 
}

.Profil h1 {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold !important;
  color: #212529;
}

.Profil p {
  color: black;
}


.About {
  margin-top: 30px;
  text-align: center;
}

.About h2 {
  font-size: 2rem;
  font-weight: bold !important;
  color: #212529;
}


.Education {
  margin-top: 30px;
  text-align: center;
}

.Education h3 {
  font-size: 2rem;
  font-weight: bold !important;
  color: #212529;
}


.Work {
  margin-top: 30px;
  text-align: center;
}

.Work h4 {
  font-size: 2rem;
  font-weight: bold !important;
  color: #212529;
}


.Skills {
  margin-top: 30px;
  text-align: center;
}

.Skills h5 {
  font-size: 2rem;
  font-weight: bold !important;
}


.Awards {
  margin-top: 30px;
  text-align: center;
}

.Awards h6 {
  font-size: 2rem;
  font-weight: bold !important;
}


.Other {
  margin-top: 30px;
  text-align: center;
}

.Other h6 {
  font-size: 2rem;
  font-weight: bold !important;
}

.Other a{
    text-decoration: none;
    color: #0f0f0f;
    font-weight: bold;
}
.Mylocation {
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold !important;
}

.Mylocation iframe {
  border: none;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.Mylocation h6{
  font-size: 2rem;
  font-weight: bold !important;
}
.back-button {
  background-color: rgb(102, 0, 255);
  border: none;
  padding: 10px 20px;
  text-align: center;;
  display: block; 
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
  
}

.back-button a{
  text-decoration: none;
  color: #0f0f0f;
  font-weight: bold;
}

.back-button:hover {
  background-color: lightblue;
}

.footer {
  text-align: center;
  padding: 10px;
  color: black;
  background-color: rgb(254, 255, 255);
}